.App {
  display: flex;
  margin: auto;
  justify-content: space-around;
  background-color: black;
}
h1{
  margin: 0%;
  color: white;
}
button{
  margin-top: 10px;
}
.flex{
  display: flex;
  color: white;
}
p{
  margin-left: 20px;
}

button{
  height:30px;
  width:100px;
  background-color: 
  #0089a8;
  color: white;
  border-radius: 20%;
}

